*.o
*.tab.hpp
*.tab.cpp
*.yy.cpp
*.output
*.d
ucc
testsrc.c
testout.s

build/

# CMake-specific files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CMakeScripts/
cmake_install.cmake
compile_commands.json
Makefile

.cache/

tests/test_outputs/
